/*******************************************************************************
Project: Seniores Digitais - Labora/Alura/Oracle ONE
Programmer: Rosemeire Deconti
Date: January / 2021
Challenge: Create Web Page ByteBank and apply JAVA knowledge
*******************************************************************************/
.footer-container {
	background-color: blue;
	margin-bottom: 0 px;
	margin-left: 0 px;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.footer-logo {
	border: 10px solid blue;
	border-radius: 10px;
	vertical-align: middle;
	padding: 10px;
	text-decoration: none;
	width: 10%;
	height: 10%;
}

.footer-logo:hover {
	opacity: 0.5;
}

.footer-anchor-line {
	vertical-align: middle;
	padding: 10px;
	margin:10px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	font-weight: bold;
	font-style: italic;
}

.footer-anchor-menu {
	border: 2px solid white;
	border-radius: 10px;
	vertical-align: middle;
	padding: 10px;
	margin:10px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	text-align: center;
	font-weight: bold;
}

.footer-anchor-menu:hover  {
	opacity: 0.5;
}

.footer-button {
	background-color: blue;
	color: white;	
	text-align: center;
	text-decoration: none;	
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;	
	border: solid;
	border-radius: 12px;
	padding: 10px;
}

/** ------------------------------------------------------------ Media Query **/
/** TODO REVIEW RESPONSIVITY **/
@media (min-width: 640px) {

}