/*******************************************************************************
Project: Seniores Digitais - Labora/Alura/Oracle ONE
Programmer: Rosemeire Deconti
Date: January / 2021
Challenge: Create Web Page ByteBank and apply JAVA knowledge
*******************************************************************************/
.login-container {
	border:2px solid blue;
	text-align:center;
	width: 30%;
	margin: auto;
	padding: 10px;
}

.login-header {
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
    margin: 0px;
}

.login-row {
	height:90px;
	width:395px;
	background-color:blue;
}

.login-division {
	border-style: double;
	border-color: blue;
	justify-content: center;
	
}



.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid blue; 
}

/** ------------------------------------------------------------ Media Query **/
/** TODO REVIEW RESPONSIVITY **/
@media (min-width: 640px) {

}