/*******************************************************************************
Project: Seniores Digitais - Labora/Alura/Oracle ONE
Programmer: Rosemeire Deconti
Date: January / 2021
Challenge: Create Web Page ByteBank and apply JAVA knowledge
*******************************************************************************/
.main-container {
	background-color: pink;
	margin-top: 0 px;
	margin-left: 0 px;
	width: 100%;
	height: 100%;
	padding: 10px;
}

/** ------------------------------------------------------------ Media Query **/
/** TODO REVIEW RESPONSIVITY **/
@media (min-width: 640px) {

}