/*******************************************************************************
Project: Seniores Digitais - Labora/Alura/Oracle ONE
Programmer: Rosemeire Deconti
Date: January / 2021
Challenge: Create Web Page ByteBank and apply JAVA knowledge
*******************************************************************************/
.main-container {
	background-image: url("../../resources/img/background-package.jpeg");
	background-color: #6B95E0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;
	height: 200%;
}

table {
	border: 1px solid white;
  	color: white;
	padding: 5px;
  	width: 100%;
}

th, td {
	border: 1px solid white;
  	color: white;
	padding: 5px;
	font-weight: bold;
}

/** ------------------------------------------------------------ Media Query **/
@media (max-width: 600px) {

}